.name{
    width: 100%;
    font-family: "Trebuchet MS";
    display: flex;
    color: darkblue;
    justify-content: center;
}
.name__registration{
    display: flex;
    width: 700px;
    height: 28pt;
    padding: 10px;
    margin: 4pt;
    font-size: 13pt;
    color: darkblue;
    z-index: 9999;
    background-color: white;
    border-radius: 4px;
    justify-content: center;
}
.name__form{
    display: inline-block;
}
.name__input{
    padding-left: 4pt;
    font-size: 13pt;
    width: 280px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid darkblue;
    color: darkblue;
}
.name__button{
    width: 200px;
    height: 30px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color:gainsboro;
    font-size: 13pt;
    color: darkblue;
    cursor: pointer;
}

.name__client{
    font-size: 20pt;
}

.wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Trebuchet MS";
    display: flex;
    color: darkblue;
    justify-content: center;
}

.rooms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rooms{
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 500px;
    border: 1px darkblue solid;
    border-radius: 4px;
    overflow-y: auto;
}
.rooms__normal{
    color: darkblue;
    margin-top: 10px;
    cursor: pointer;
}
.rooms__select{
    color: red;
    margin-top: 10px;
    cursor: pointer;
}
.rooms__button{
    width: 150px;
    height: 30px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color:gainsboro;
    font-size: 13pt;
    color: darkblue;
    cursor: pointer;
}

.chat{
    height: 540px;
    width: 600px;
    resize: none;
    overflow-y: auto;
    margin: 4px;
    padding: 4px;
    border: 1px darkblue solid;
    flex-grow: inherit;
    border-radius: 4px;
}

.chat__message{
    color: black;
}
.chat__message-own{
    color: darkblue;
    cursor: pointer;
    font-weight: bolder;
}

.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    width: 200px;
    height: 470px;
    overflow-y: auto;
    border: 1px darkblue solid;
    border-radius: 4px;
}
.list__red{
    color: red;
}
.list__green{
    color: green;
}
.list__in-room{
    font-weight: bold;
}
.list__not-room{
    font-weight: normal;
}
.list__not-room-invite{
    font-weight: normal;
    cursor: pointer;
}

.list__button{
    width: 200px;
    height: 30px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color:gainsboro;
    font-size: 13pt;
    color: darkblue;
    cursor: pointer;
}

.message{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message__form{
    width: 800px;
    margin-top: 0px;
    justify-content: center;
}
.message__input{
    width: 780px;
    height: 26px;
    padding-left: 4px;
    border-radius: 4px;
    border: 1px solid darkblue;
    flex-grow: 4;
    font-size: 13pt;
}
.message__button{
    width: 200px;
    height: 30px;
    margin:4px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color:gainsboro;
    cursor: pointer;
    font-size: 13pt;
    flex-grow: 1;
    color: darkblue;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

